# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
transport_control
*-build-*
*.autosave

# Other

build/
distrib/
*.csv
config.ini
*.docx
ui/ui_*.h